<html>
	<head>
		<title>Blackjack</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body style = "background-image: url('https://www.fabricgateway.com/images/fabricgateway/31/317925b3cea43b221da53eb31b5e3de3.jpeg'); background-size: cover;">
		<h1 style="color: antiquewhite;">Casino<span style="color: orangered;"> Blackjack</span> <br><br><br></h1>
		<p style="color: floralwhite;">
			{{message}}
		</p>
    	<form method = "post" id = "next" name = "nex">
        	<input type ="submit" name="next" value="Next">
    	</div>
    	<form method = "post" id = "exit" name = "exi">
         	<input type ="submit" name="exit" value="Stop">
    	</div>
    	<p style="color: floralwhite;">
    		<br><br><br>
    		{{user}}
    	</p>
	</body>
</html>